<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>145511099783-s12ok8aa8j4tt2kpragb51361rodqok4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145511099783-s12ok8aa8j4tt2kpragb51361rodqok4</string>
	<key>API_KEY</key>
	<string>AIzaSyCvqI7os2G7DfVpScebNEyymZ5b4cc8idI</string>
	<key>GCM_SENDER_ID</key>
	<string>145511099783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Turma-IV.TODO-iOS</string>
	<key>PROJECT_ID</key>
	<string>todo-ios-39841</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ios-39841.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145511099783:ios:a8f991922d1208e1</string>
	<key>DATABASE_URL</key>
	<string>https://todo-ios-39841.firebaseio.com</string>
</dict>
</plist>